<body id="seis">
<div class="form-wrapper">
<form id="form" action="/users/edit" method="POST">
 <label for="image">
            <img src="{{user.image}}"class="profile-img">
        </label>

    <label for="name">Name</label>
    <input type="text" value="{{user.name}}"name="name" placeholder="Your username">
 
     <label for="mail">E-mail</label>
    <input type="mail" value="{{user.mail}}" name="mail" placeholder="Your email">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="********" disabled>

    <label for="repeatpassword">Repeat Password</label>
    <input type="password" name="repeatpassword" placeholder="********"disabled>

    <button type="submit">Edit Your account </button>
</form>
</div>


</body>
