<body id="tres">
    <h1 class="login">LOG IN</h1>
    <div class="form-wrapper">
        <form action="/login" method="POST" id="form">
            <label for="name">Name</label>
            <input type="text" name="name">

            <label for="password">Password</label>
            <input type="password" name="password"> {{#if errorMessage }}
            <div class="error-message">{{ errorMessage }}</div>
            {{/if}}

            <button class="btn3">LOG IN</button>

            <p class="account-message"> Don't have an account? <a class="redirect" href="/signup">Sign up</a>
            </p>
        </form>


    </div>


</body>