<header>
    <nav class="navbar">
        <span class="nav-home">
            <a href="/users/secret">Home</a>
            ​
        </span>
        <span class="nav-user">
            <a href="/logout">Log out</a>
        </span>
    </nav>
</header>