
<body id="uno">
<div class="home">
    <div class="wrap">

        <h1>DRA</h1>
        <h1 class="dramas">MAS</h1>
          
             <a href="/signup"class="home-btn">SIGN UP</a>
        
               <a href="/login"class="home-btn">LOG IN</a>
        

    </div>
   
</div>
</body>