
<body id="uno">
<div class="home">
    <div class="wrap">

        <h1>DRA</h1>
        <h1>MAS</h1>
         <button class="home-btn">
             <a href="/signup">SIGN UP</a>
         </button>
         <button class="home-btn">
               <a href="/login">LOG IN</a>
         </button>

    </div>
   
</div>
</body>