<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <div class="container">
</div>

<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a href="/index">Home</a></li>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </nav>
</div>

    {{{body}}}
    
</html>
