
<!DOCTYPE html>
<html>
​
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="/images/llamafornite.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  

​
  
</head>

​
{{{body}}}
​
</html>