
<!DOCTYPE html>
<html>
​
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="/images/llamafornite.jpg">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

​
  
</head>
<header>
  <nav class="navbar">
    <span class="nav-home">
      <a href="/index">Home</a>
​
    </span>
    <span class="nav-user">
      {{#if user.userName}}
      <a href="">Log out</a>
      {{else}}
      <a href="/signup">Sign Up</a>
      <a href="/login">Log in</a>
​
      {{/if}}
    </span>
</header>
</nav>
​
{{{body}}}
​
</html>