<div id="container">
    <h2>Hello {{user.name}}!!</h2>
</div>
<a href="/animal/create">CREATE YOUR ANIMAL</a>
<a href="/animal/edit">EDIT YOUR ANIMAL</a>
<button type="submit">DELETE YOUR ANIMAL</button>
<a href="/users/edit">EDIT YOUR Profile</a>
<a href="/logout">Logout</a>