<div id="container">
    <h2>Hello {{username}}!!</h2>
</div>
<a href="/animal/create">CREATE YOUR ANIMAL</a>
<a href="/animal/edit">EDIT YOUR ANIMAL</a>
<a href="/animal/delete">DELETE YOUR ANIMAL</a>
<a href="/logout">Logout</a>