*{
  box-sizing: border-box;
  margin: 0;
  padding: o;

}
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; 
  font-family: 'Montserrat', sans-serif;
}

/* HOME PUBLICA */

#uno{
  background-color:#fadf1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.wrap{
  display: flex;
  flex-direction: column;
  align-content: center;

}
h1{
  text-align: center;
  font-size: 160px;
  color: #7139be
}


.home-btn{
  padding: 20px;
  margin-top:30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border:4px solid #7139be;
  color: #7139be;
  border-radius: 0.12em;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.home-btn:hover{
  color: white;
  background-color: #7139be
}



/* sign up */

#dos{
  background-color: #7139be;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup{
  text-align: center;
  font-size: 160px;
  color: white;
}

.form-wrapper{
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
 
#form{
  display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.error-message{
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  background-color: #fadf1c;
  color: #7139be;
  width: 100%;
  max-width: 800px;
  height: 80px;
  font-size: 20px;
}

label{
  text-align: center;
  color: white;
  margin: 30px;
  font-size: 40px;

}

input{
  padding: 40px;
  text-align: center;
  height: 40px;
  font-size: 30px;
}

.btn2{
  padding: 20px;

  background-color: transparent;
  margin-top:60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border:4px solid #fadf1c;
  color: white;
  border-radius: 0.12em;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.btn2:hover{
  color: #7139be;
  background-color: #fadf1c;
}

/* login*/

#tres{
  background-color: #ce71e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login{
  text-align: center;
  font-size: 160px;
  color: white;
}

.btn3{
  padding: 20px;

  background-color: transparent;
  margin-top:60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border:4px solid #7139be;
  color: #fadf1c;
  border-radius: 0.12em;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.btn3:hover{
  color: #ce71e8;
  background-color: #7139be;
}
.account-message{
  color: #7139be;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
/* profile*/

#cuatro{
  background-color: #fadf1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 80%;
  margin: 0 auto;
}

.profile-img{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border-radius: 50%;
}

.details{
  margin: 0 auto;
  color:#7139be;
  font-size: 40px;
  text-align: center;
}


.animal{
  text-align: center;
  color:#7139be;
  font-size: 100px;
  margin-top:60px; 

}
.butons-animal{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:center;
}

.totdelete{
text-align: center;
}
.gracia{
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
}
em{
  font-size: 20px;
}
.animal-delete-btn{
   padding: 20px;
  background-color: transparent;
  margin-top:60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border:4px solid #7139be;
  color: #7139be;
  border-radius: 0.12em;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.animal-delete-btn:hover{
  color: white;
  background-color: #7139be
}
.navegadores{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
margin: 0 auto;
}
/* home secret*/

#cinco{
  background-color: #7139be;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cinco>h1{
  color: white;
}

/* EDIT USER PORFILE*/


#seis{
  background-color: #7139be;
  display: flex;
  flex-direction: column;
  justify-content: center;
}